<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head :: head ('Pizze')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizze</title>
</head>

<body>
    <header>
         <nav th:replace="~{fragments/navbar :: navbar ('Spring Pizzeria Crud')}"></head>
    </header>
   
    <main class="container">
        <section class="title row">
            <div class="col-12">

                <h1 class="text-center m-2">Pizzas menù</h1>
                

            </div>
        </section>

        <section class="search-bar row justify-content-center">
            <form th:action="@{pizze}" method="GET" class="col-12 d-flex justify-content-between">
                <div class="creation-button">
                    <a th:href="@{/pizze/create}" class="btn btn-primary">Create a new pizza</a>
                </div>
                <div class="input-group w-50">
                    <input type="search" name="keyword" id="book-search-input" class="form-control">
                    <button class="btn btn-primary btn-lg" type="submit">Filter</button>
                </div>
            </form>
        </section>

        <section class="pizze mt-4">
            <table class="table table-dark table-striped" th:if="${pizze.size() > 0}">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="Pizza : ${pizze}" th:object="${Pizza}">
                        <td th:text="${Pizza.id}"></td>
                        <td th:text="${Pizza.name}"></td>
                        <td th:text="${Pizza.description}"></td>
                        <td th:text="${Pizza.price} + '0€'"></td>
                        <td> 
                            <a th:href="@{|/pizze/${Pizza.id}|}" class="btn btn-success btn-sm">Show</a>
                            <a th:href="@{|/pizze/${Pizza.id}|}" class="btn btn-light btn-sm">Edit</a>
                            <a th:href="@{|/pizze/${Pizza.id}|}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>


                <h2 class="text-center text-danger" th:unless="${pizze.size() > 0}">
                    There are no pizzas available at this moment
                </h2>
            
        </section>
    </main>
  

</body>
</html>